
<template>
  <q-page class="flex">
    <div class="doc-container col-12">
      <div class="minheight-rows gutter-xs">
        <div class="row title-row items-center">
          <i class="fas fa-th-large"></i>
          <div class="page-title">{{ $t('Playlists') }}</div>
        </div>
        <div class="row justify-start margin-bottom-20">
          <div class="col-6">
            <q-search v-model="searchedPlaylist"
                      :float-label="$t('playlist.search')"
            ></q-search>
          </div>
          <div class="col-6">
            <div class="row justify-end items-center">
              <q-btn
                      icon="add"
                      :label="$t('playlist.add')"
                      @click="newPlaylist"
                      class="action-btn"
                      rounded
              />
            </div>
          </div>
        </div>
        <div class="row md-gutter">
          <q-card inline
                  class="playlist"
                  v-for="(playlist, index) in filteredItems"
                  :key="index"
          >
            <q-card-media class="vanilla">
              <img :src="thumbUrl(playlist)">
            </q-card-media>
            <q-item>
              <q-item-main>
                <q-item-tile label><strong>{{ playlist.title }}</strong><br>
                  {{ $t('by') }} {{ playlist.user.name }}</q-item-tile>
              </q-item-main>
            </q-item>

            <q-card-actions class="justify-end">
              <div class="col-6">
                <q-btn-dropdown outline rounded
                       class="action-btn full-width" :label="$t('More')">
                    <q-list link style="min-width: 100px">
                      <q-item @click.native="editPlaylist(index)">{{ $t('Edit') }}</q-item>
                      <q-item @click.native="uploadThumbnail(index)">{{ $t('Upload_thumbnail') }}</q-item>
                      <q-item @click.native="delPlaylist(index)">{{ $t('state.Delete') }}</q-item>
                    </q-list>
                </q-btn-dropdown>
              </div>
            </q-card-actions>

          </q-card>
        </div>
      </div>
    </div>
   <q-dialog v-model="uploadDialogDisplayed" :ok=false>
      <span slot="title" class="row items-center">
        <div class="text-h6">{{ $t('Upload_thumbnail') }}</div>

        <q-btn icon="close" flat round dense size="sm" @click.native="closeUpload()"/>
      </span>
      <div slot="body">
        <q-uploader :url="categoryThumbnailUrl" send-raw method="PUT"
        :upload-factory="uploadFile" max-file-size="500000" @uploaded="finishedUpload" @fail="uploadFailed"
        auto-expand/>
      </div>
    </q-dialog>
  </q-page>
</template>

<style>
</style>

<script>
import {mapActions, mapState} from 'vuex'

export default {
  name: 'Playlists',
  data: () => ({
    searchedPlaylist: '',
    loadedPlaylistIndex: null,
    uploadDialogDisplayed: false,
    categoryThumbnailUrl: '',
    columns: [
      {
        name: 'title',
        label: 'Title',
        required: true,
        visible: false
      },
      {
        name: 'user',
        label: 'Owner',
        required: true,
        sortable: true

      },
      {
        name: 'provider',
        label: 'Provider',
        required: false,
        sortable: true

      },
      {
        name: 'commands',
        label: '',
        required: true,
        sortable: false
      }
    ]
  }),
  methods: {
    ...mapActions('playlists', [
      'listPlaylists',
      'deletePlaylist',
      'setThumbnail'
    ]),
    editPlaylist: function (playlistIndex) {
      this.$router.push('/playlists/edit/' + playlistIndex)
    },
    delPlaylist: function (playlistIndex) {
      this.$q.dialog({
        title: this.$t('playlist.Delete'),
        message: this.$t('playlist.delete_confirm'),
        ok: this.$t('state.Delete'),
        cancel: this.$t('Cancel')
      }).then(() => {
        this.$q.notify({
          message: this.$t('state.Deleted'),
          timeout: 3000,
          type: 'positive',
          icon: 'delete',
          detail: this.$t('playlist.delete_confirmation'),
          position: 'top-right'
        })

        this.deletePlaylist({playlistIndex})
      })
    },
    newPlaylist: function () {
      this.$router.push('/playlists/add')
    },
    uploadThumbnail: function (playlistIndex) {
      this.playlistThumbnailUrl = this.playlists[playlistIndex].thumbnailUrl
      this.loadedPlaylistIndex = playlistIndex
      this.uploadDialogDisplayed = true
    },
    uploadFile: function (file, updateProgress) {
      let promise = this.setThumbnail({playlistIndex: this.loadedPlaylistIndex, file: file, progress: updateProgress})

      return promise
    },
    finishedUpload: function () {
      this.closeUpload()
    },
    uploadFailed: function () {
      this.$q.notify('Upload failed. Is file too big ?')
    },
    closeUpload: function () {
      this.uploadDialogDisplayed = false
    },
    thumbUrl: function (cat) {
      return cat.thumbnailUrl + '?' + this.pictureSuffix
    }
  },
  computed: {
    filteredItems: function () {
      if (!this.searchedPlaylist) {
        return this.playlists
      }
      return this.playlists.filter(playlist => {
        return playlist.title.toLowerCase().includes(this.searchedPlaylist.toLowerCase())
      })
    },
    ...mapState('playlists',
      {
        playlists: (state) => state.playlists,
        pictureSuffix: (state) => state.pictureSuffix
      })
  },
  mounted: function () {
    this.listPlaylists()
  }
}
</script>
