<template>
  <q-page class="flex">
    <div class="doc-container minheight-rows with-bg">
      <div class="row title-row items-center">
        <i class="fas fa-th-large"></i>
        <div class="page-title">{{ $t('title') }}</div>
      </div>
      <div class="row">
          <div v-for="e in endpoints"
               :key="e.name">
            <ApplicationCard
                    :application="e"
                    @click="endpointClicked(e.url)"
            />
          </div>
          <div v-for="(p, index) in playlists"
               :key="p.id"
          >
            <PlaylistCard :playlist="p"
                          @click="playlistClicked(index)"
            />
          </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import ApplicationCard from '../../components/application_card'
import PlaylistCard from '../../components/playlist_card'
import VueI18n from 'vue-i18n'

export default {
  data: () => ({
    categoryIndex: -1
  }),
  name: 'Home',
  methods: {
    ...mapActions('home', [
      'listCategoryEndpoints',
      'listPlaylistInCategory'
    ]),
    endpointClicked: function (url) {
      window.open(url, '_blank')
    },
    playlistClicked: function (playlistIndex) {
      this.$router.push('/home/categories/' + this.categoryIndex + '/playlist/' + playlistIndex)
    }
  },
  computed: {
    ...mapState('home', {
      endpoints: (state) => state.categoryEndpoints,

      playlists: function (state) {
        if (this.categoryIndex > -1) {
          return state.playlistsInCategory
        }
      }
    }),

    ...mapState('categories', {
      category: function (state) {
        if (this.categoryIndex > -1) {
          return state.categories[this.categoryIndex]
        } else {
          return {}
        }
      }
    }),

    $i18n: function () {
      let messages = {}
      for (var l in this.category.labels) {
        messages[l] = { title: this.category.labels[l] }
      }
      return new VueI18n({ locale: 'en', fallbackLocale: 'en', messages: messages })
    }
  },
  mounted: function () {
    this.categoryIndex = parseInt(this.$route.params.categoryIndex)

    this.listCategoryEndpoints({categoryIndex: this.categoryIndex})
    this.listPlaylistInCategory({categoryIndex: this.categoryIndex})
  },
  components: {
    'ApplicationCard': ApplicationCard,
    'PlaylistCard': PlaylistCard
  }
}
</script>
