<template>
  <q-page class="flex">
    <div class="doc-container minheight-rows with-bg">
      <div class="row title-row items-center">
        <i class="fas fa-th-large"></i>
        <div class="page-title">Playlist {{playlist.title}}</div>
      </div>
      <div class="row">
          <div v-for="e in endpoints"
               :key="e.name">
            <ApplicationCard :application="e"
                             @click="endpointClicked(e.url)"
            />
          </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import ApplicationCard from '../../components/application_card'

export default {
  data: () => ({
    categoryIndex: null,
    playlistIndex: -1
  }),
  name: 'HomePlaylist',
  methods: {
    ...mapActions('home', [
      'listPlaylistEndpoints'
    ]),
    endpointClicked: function (url) {
      window.open(url, '_blank')
    }
  },
  computed: mapState('home', {
    endpoints: (state) => state.playlistEndpoints,

    playlist: function (state) {
      if (this.playlistIndex > -1) {
        if (this.categoryIndex) {
          return state.playlistsInCategory[this.playlistIndex]
        } else {
          return state.visiblePlaylists[this.playlistIndex]
        }
      } else {
        return {}
      }
    }
  }),
  mounted: function () {
    this.playlistIndex = parseInt(this.$route.params.playlistIndex)
    // the categoryIndex is only used to detect that we are displaying a playlist from a category
    this.categoryIndex = this.$route.params.categoryIndex

    let fromCategory = false

    if (this.categoryIndex) {
      fromCategory = true
    }

    this.listPlaylistEndpoints({playlistIndex: this.playlistIndex, fromCategory})
  },
  components: {
    'ApplicationCard': ApplicationCard
  }
}
</script>
