
<template>
  <q-page class="flex">
    <div class="doc-container col-12">
      <div class="minheight-rows gutter-xs">
        <div class="row title-row items-center">
          <i class="fas fa-th-large"></i>
          <div class="page-title">{{ $t('Categories') }}</div>
        </div>

        <div class="row justify-start margin-bottom-20">
          <div class="col-6">
            <q-search v-model="searchedCategory"
                      :float-label="$t('category.search')"
            ></q-search>
          </div>
          <div class="col-6">
            <div class="row justify-end items-center">
              <q-btn
                icon="add"
                :label="$t('category.add')"
                @click="newCategory"
                class="action-btn"
                rounded
              />
            </div>
          </div>
        </div>

        <div class="row md-gutter">
          <q-card inline
                  class="category"
                  v-for="(category, index) in filteredItems"
                  :key="index"
          >

            <q-card-media class="vanilla">
              <img :src="thumbUrl(category)">
            </q-card-media>
            <q-item>
              <q-item-main>
                <q-item-tile label><strong>{{ categoryLabel(category) }}</strong></q-item-tile>
              </q-item-main>
            </q-item>

            <q-card-actions class="justify-end">
              <div class="col-6" style="padding-left: 1px">
                <q-btn-dropdown outline rounded
                       class="action-btn full-width" :label="$t('More')">
                    <q-list link style="min-width: 100px">
                      <q-item @click.native="editCategory(index)">{{ $t('Edit') }}</q-item>
                      <q-item @click.native="uploadThumbnail(index)">{{ $t('Upload_thumbnail') }}</q-item>
                      <q-item @click.native="delCategory(index)">{{ $t('state.Delete') }}</q-item>
                    </q-list>
                </q-btn-dropdown>
              </div>
            </q-card-actions>

          </q-card>

        </div>
      </div>
    </div>
    <q-dialog v-model="uploadDialogDisplayed" :ok=false>
      <span slot="title" class="row items-center">
        <div class="text-h6">{{ $t('Upload_thumbnail') }}</div>

        <q-btn icon="close" flat round dense size="sm" @click.native="closeUpload()"/>
      </span>
      <div slot="body">
        <q-uploader :url="categoryThumbnailUrl" send-raw method="PUT"
        :upload-factory="uploadFile" max-file-size="500000" @uploaded="finishedUpload" @fail="uploadFailed"
        auto-expand/>
      </div>
    </q-dialog>
  </q-page>
</template>

<style>
</style>

<script>
import {mapActions, mapState} from 'vuex'

export default {
  name: 'Categories',
  data: () => ({
    searchedCategory: '',
    layoutModal: false,
    isEditing: false,
    labels: {},
    tags: [],
    name: '',
    username: '',
    password: '',
    playlists: [],
    applications: [],
    contents: [],
    selectorDisplayed: false,
    loadedCategoryIndex: null,
    uploadDialogDisplayed: false,
    categoryThumbnailUrl: '',
    afterUploadCacheBreaker: '',
    columns: [
      {
        name: 'name',
        label: 'Name',
        required: true,
        visible: false
      },
      {
        name: 'tags',
        label: 'Tags',
        required: true,
        sortable: true

      },
      {
        name: 'commands',
        label: '',
        required: true,
        sortable: false
      }
    ]
  }),
  methods: {
    ...mapActions('categories', [
      'listCategories',
      'listTerms',
      'setThumbnail',
      'deleteCategory'
    ]),
    editCategory: function (categoryIndex) {
      this.$router.push('/categories/edit/' + categoryIndex)
    },
    delCategory: function (categoryIndex) {
      this.$q.dialog({
        title: this.$t('category.Delete'),
        message: this.$t('category.delete_confirm'),
        ok: this.$t('state.Delete'),
        cancel: this.$t('Cancel')
      }).then(() => {
        this.$q.notify({
          message: this.$t('state.Deleted'),
          timeout: 3000,
          type: 'positive',
          icon: 'delete',
          detail: this.$t('category.delete_confirmation'),
          position: 'top-right'
        })

        this.deleteCategory({categoryIndex})
      })
    },
    uploadThumbnail: function (categoryIndex) {
      this.categoryThumbnailUrl = this.categories[categoryIndex].thumbnailUrl
      this.loadedCategoryIndex = categoryIndex
      this.uploadDialogDisplayed = true
    },
    newCategory: function () {
      this.$router.push('/categories/add')
    },
    categoryLabel: function (row) {
      var finalLabel = ''
      for (var c in row.labels) {
        if (finalLabel !== '') {
          finalLabel += ' - '
        }
        finalLabel += row.labels[c] + '(' + c + ')'
      }
      return finalLabel
    },
    uploadFile: function (file, updateProgress) {
      let promise = this.setThumbnail({categoryIndex: this.loadedCategoryIndex, file: file, progress: updateProgress})

      return promise
    },
    finishedUpload: function () {
      this.closeUpload()
    },
    uploadFailed: function () {
      this.$q.notify('Upload failed. Is file too big ?')
    },
    closeUpload: function () {
      this.uploadDialogDisplayed = false
    },
    thumbUrl: function (cat) {
      return cat.thumbnailUrl + '?' + this.pictureSuffix
    }
  },
  computed: {
    filteredItems: function () {
      if (!this.searchedCategory) {
        return this.categories
      }
      return this.categories.filter(category => {
        return this.categoryLabel(category).toLowerCase().includes(this.searchedCategory.toLowerCase())
      })
    },
    ...mapState('categories', {
      categories: (state) => state.categories,
      pictureSuffix: (state) => state.pictureSuffix
    })
  },
  mounted: function () {
    this.listCategories()
    this.listTerms()
    // this.listInstalledApps()
    // this.listPlaylists()
  }
}
</script>
