<template>
  <q-dialog
    v-model="this.displayed"
    prevent-close
  >
    <!-- This or use "title" prop on <q-dialog> -->
    <span slot="title">{{ $t('content.select')}}</span>

    <div slot="body">
      <!--<q-field label="Application">-->
      <q-select
        v-model="selected_application"
        :options="installedApplications"
        @input="appSelected"
        :float-label="$t('Application')"
        />
      <!--</q-field>-->

      <q-select
        v-model="selected_content"
        :float-label="$t('content.content')"
        :options="contents"
      />

    </div>

    <template slot="buttons" slot-scope="props">
      <q-btn flat :label="$t('Cancel')" @click="onCancel" rounded/>
      <q-btn :label="$t('content.add')" class="action-btn" inverted rounded @click="onOk"/>
    </template>
  </q-dialog>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import _ from 'lodash'

export default {
  data () {
    return {
      // model for Dialog example
      selected_content: null,
      selected_application: null
    }
  },
  methods: {
    ...mapActions('applications', ['listInstalledApps', 'listContentForBundle']),

    onOk (data) {
      if (this.selected_application && this.selected_content) {
        this.ok(this.selected_application, this.selected_content)
      }
    },

    onCancel () {
      this.cancel()
    },

    appSelected (newValue) {
      this.listContentForBundle(newValue)
      this.selected_content = null
    }
  },
  computed: {
    ...mapState('applications', {
      installedApplications: (state) => _.map(state.installed_applications, a => {
        return {
          label: a.name,
          value: a.bundle
        }
      }),

      contents: function (state) {
        if (this.selected_application) {
          let installedApp = _.find(state.installed_applications, a => a.bundle === this.selected_application)

          let installedContents = installedApp.contents.filter(i => i.currentState === 'installed')

          if (installedContents) {
            return installedContents.map(c => {
              return {
                label: c.name,
                value: c.content_id
              }
            })
          } else {
            return []
          }
        } else {
          return []
        }
      }
    })
  },
  mounted: function () {
    this.listInstalledApps()
  },
  props: ['ok', 'cancel', 'displayed']
}
</script>
