<template>
  <q-card inline
          class="category"
          @click.native="$emit('click')"
  >
    <q-card-media>
      <img :src="thumbUrl">
      <q-card-title slot="overlay">
        {{ $t('title') }}
      </q-card-title>
    </q-card-media>
  </q-card>
</template>

<script>

import VueI18n from 'vue-i18n'

export default {
  name: 'CategoryCard',
  props: ['category', 'pictureSuffix'],
  computed: {
    $i18n: function () {
      let messages = {}
      for (var l in this.category.labels) {
        messages[l] = { title: this.category.labels[l] }
      }
      // let fallbackLocale = navigator.language.split('-')[0]
      return new VueI18n({ locale: 'en', fallbackLocale: 'en', messages: messages })
    },
    thumbUrl: function () {
      return this.category.thumbnailUrl + (this.pictureSuffix != null ? '?' + this.pictureSuffix : '')
    }
  }
}
</script>
