<template>
  <q-dialog v-model="this.displayed" prevent-close>
    <span slot="title">{{ $t('direct_links.add')}}</span>
    <div slot="body">
      <div style="width: 700px; max-width: 80vw;">
        <q-input :float-label="$t('direct_links.url')"
          v-model="href"
          type="url"
          max-length="255"
          clearable />
        <q-input :float-label="$t('Title')"
          v-model="title"
          max-length="255"
          clearable />
      </div>
    </div>

    <template slot="buttons" slot-scope="props">
      <q-btn flat :label="$t('Cancel')" @click="onCancel" rounded />
      <q-btn :label="label" class="action-btn" inverted rounded @click="onOk" :error="isInvalid" :disabled="isInvalid"/>
    </template>
  </q-dialog>
</template>

<script>
function isValidHttpUrl (string) {
  let url
  try {
    url = new URL(string)
  } catch (_) {
    return false
  }
  return url.protocol === 'http:' || url.protocol === 'https:'
}

export default {
  data () {
    return {
      href: '',
      title: '',
      index: null
    }
  },
  methods: {
    reset (link) {
      if (link === null) {
        // adding a new link from scratch
        this.href = ''
        this.title = ''
        this.index = null
      } else {
        // editing an existing link
        this.href = link.href
        this.title = link.title
        this.index = link.index
      }
    },
    onOk (data) {
      if (!this.isInvalid) {
        this.ok(this.href.trim(), this.title.trim(), this.index)
        this.reset(null)
      }
    },
    onCancel () {
      this.reset(null)
      this.cancel()
    }
  },
  computed: {
    isInvalid () {
      return (!this.href.trim() || !this.title.trim() || !isValidHttpUrl(this.href))
    },
    label () {
      return (this.index === null) ? this.$t('direct_links.add') : this.$t('direct_links.edit')
    }
  },
  mounted: function () {
    this.reset(null)
  },
  props: ['ok', 'cancel', 'displayed']
}
</script>
