<template>
  <div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'OidcCallback',
  methods: {
    ...mapActions([
      'oidcSignInCallback'
    ])
  },
  computed: mapState(
    {
      access_token: (state) => {
        if (state.oidc) {
          return state.oidc.access_token
        }
        return null
      }
    }
  ),
  mounted () {
    this.oidcSignInCallback()
      .then((redirectPath) => {
        this.$router.push('/home')
      })
      .catch((err) => {
        console.error(err)
        this.$router.push('/home') // Handle errors any way you want
      })
  }
}
</script>
