<template>
  <!--<q-card class="playlist-card" @click.native="$emit('click')">-->
    <!--<q-card-media >-->
      <!--<img src="../assets/star.svg">-->
    <!--</q-card-media>-->
    <!--<q-card-title>-->
      <!--{{ playlist.title }}-->
    <!--</q-card-title>-->
  <!--</q-card>-->

  <q-card inline
          class="playlist"
          @click.native="$emit('click')"
  >
    <q-card-media>
        <img :src="thumbUrl">
      <q-card-title slot="overlay">
        {{ playlist.title }}
        <!--<span slot="subtitle">Subtitle</span>-->
      </q-card-title>
    </q-card-media>
  </q-card>
</template>

<script>
export default {
  name: 'PlaylistCard',
  props: ['playlist', 'pictureSuffix'],
  computed: {
    thumbUrl: function () {
      return this.playlist.detailUrl + '/thumbnail' + (this.pictureSuffix != null ? '?' + this.pictureSuffix : '')
    }
  }
}
</script>
