<template>
  <div>
    <q-modal v-model="isOpened"
             :maximized="maximized"
             @hide="hideModal"
             class="search-modal"
    >
      <q-btn class="right flat round close"
             icon="close"
             @click="hideModal"/>

      <div class="row justify-center search-modal-inner-area">
        <div class="col-xs-11 col-sm-6">
         <q-search v-model="searched"
                    v-on:keyup.enter="triggerSearch()"
                    inverted
                    v-on:keyup.delete="clearState()"
          />
          <q-spinner class="justify-center" size="60" v-if="loading" color="primary"/>
          <div>
            <q-list v-if="searchResults.length > 0 && loading == false">
              Results
              <q-item v-for="r in searchResults" :key="r.link">
                <q-card>
                    <q-card-title><a :href="r.link" target="_blank">{{r.title}}</a></q-card-title>
                    <q-card-separator />
                    <q-card-main>{{r.summary}}</q-card-main>
                </q-card>
              </q-item>
            </q-list>
          </div>
        </div>
      </div>
    </q-modal>
  </div>
</template>

<style>

  /*.search-modal .modal-content{*/
    /*background-color: rgba(0, 0, 0, 0.8);*/
  /*}*/

  .search-modal .q-spinner {
    width: 100%;
  }

  /*.search-modal * {*/
    /*color: white;*/
  /*}*/

  .search-modal .q-card {
    opacity: 1.0;
    background-color: lightgray;
    width:100%
  }

  .search-modal .q-card * {
    opacity: 1.0;
    color: gray;
  }

  .search-modal .q-list {
    border-color: transparent;
  }

  .search-modal .q-input-target {
    color: white;
    font-weight: bold;
  }

  .search-modal-inner-area .q-search{
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .search-modal-inner-area .q-list {
    margin-top:50px;
  }
</style>

<script>
import {mapState, mapActions} from 'vuex'

export default {
  name: 'SearchModel',
  data: function () {
    return {
      maximized: true,
      isOpened: this.opened,
      loading: false
    }
  },
  methods: {
    ...mapActions({
      searchAction: 'search'
    }),
    hideModal: function () {
      this.$emit('opened', false)
      this.$store.state.searchResults = {}
    },
    triggerSearch: function () {
      if (this.searched) {
        this.doSearch(this.searched)
      } else {
        this.$store.state.searchResults = {}
      }
    },
    clearState: function () {
      console.log('state deleted')
      this.$store.state.searchResults = {}
    },
    doSearch: async function () {
      this.loading = true
      this.searchAction(this.searched).then(() => {
        console.log('end of search')
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    }
  },
  watch: {
    opened: function (val) {
      if (!this.isOpened && val) {
        this.doSearch(this.searched)
      }
      this.isOpened = val
    }
  },
  model: {
    prop: 'opened',
    event: 'opened'
  },
  computed: mapState({
    searchResults: (state) => {
      return state.searchResults
    }
  }),
  props: {
    searched: String,
    opened: Boolean
  }
}
</script>
