
<template>
  <q-page class="flex">
    <div class="minheight-rows">
      <div class="row title-row items-center">
        <div class="col-5">
          <img :src="application.picture">
          <h4>Application {{application.name}}</h4>
        </div>
        <div class="col-1">
          <q-btn color="secondary" :label="btnText" :disabled="btnDisabled" class="install-button" @click="downloadBtnClicked"/>
        </div>
      </div>
      <div class="row application-row">
        {{application.description}}
      </div>
    </div>

  </q-page>
</template>

<style>
  .title-row img {
    max-height: 128px;
    width: auto;
    height: auto;
    margin-top:10px;
    float:left;
  }
  .title-row .install-button {
    max-height: 20px;
  }
</style>

<script>
import {mapActions, mapState} from 'vuex'

export default {
  name: 'Applications',
  methods: {
    ...mapActions('applications', [
      'selectApp',
      'downloadApp',
      'refreshState'
    ]),
    enableCheckTimeout: function () {
      this.timeoutInterval = setInterval(() => {
        this.refreshStateTimeout()
      }, 5000)
    },
    downloadBtnClicked: function () {
      this.downloadApp(this.$route.params.bundle)
      this.enableCheckTimeout()
    },
    refreshStateTimeout: function () {
      if (this.application.currentState !== this.application.targetState) {
        this.selectApp(this.$route.params.bundle)
      } else {
        clearInterval(this.timeoutInterval)
        this.timeoutInterval = null
      }
    }
  },
  computed: mapState('applications', {
    application: (state) => state.selected_application,
    pendingOperation: (state) => state.selected_application.currentState !== state.selected_application.targetState,
    btnText: (state) => {
      let selApp = state.selected_application

      if (selApp.currentState === 'uninstalled' && selApp.targetState === 'uninstalled') {
        return 'Download'
      } else if (selApp.currentState === 'uninstalled' && selApp.targetState === 'downloaded') {
        return 'Downloading...'
      } else {
        return 'Downloaded'
      }
    },
    btnDisabled: (state) => {
      let selApp = state.selected_application

      if (selApp.currentState === 'uninstalled' && selApp.targetState === 'uninstalled') {
        return false
      }

      return true
    }
  }),
  mounted: function () {
    this.selectApp(this.$route.params.bundle)
  },
  destroyed: function () {
    clearInterval(this.timeoutInterval)
  }

}
</script>
