<template>
  <q-page class="flex">
    <div class="minheight-rows">
      <div class="row title-row items-center">
        <div class="col-12">
          <h4>Configuration for {{application.name}}</h4>
        </div>
        <div class="col-12" v-for="c in application.configuration" :key="c.container">
          <h5>Configuration for container {{c.container}}</h5>
          <q-field :label="p.name" :helper="p.description" v-for="p in c.parameters" :key="p.name">
            <q-input
              v-model="configs[c.container+'.'+p.name]"
              type="text"
            />
          </q-field>
        </div>
      </div>
      <div class="row reverse">
        <q-btn label="save" @click="save" color="secondary" />
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { mapState, mapActions } from 'vuex'
import _ from 'lodash'

export default {
  data: () => ({
    bundle: null,
    configs: []
  }),
  methods: {
    ...mapActions('applications', ['loadAppConfiguration', 'saveAppConfiguration']),
    inputName: (container, parameter) => `${container}.${parameter}`,
    save: function () {
      let obj = []
      for (let c in this.configs) {
        let dotPos = c.indexOf('.')
        let containerName = c.substring(0, dotPos)
        let parameterName = c.substring(dotPos + 1)

        let existingEntry = _.find(obj, e => e.container === containerName)

        if (!existingEntry) {
          existingEntry = {
            container: containerName,
            parameters: []
          }

          obj.push(existingEntry)
        }

        existingEntry.parameters.push({
          name: parameterName,
          value: this.configs[c]
        })
      }
      this.saveAppConfiguration({bundle: this.bundle, configuration: obj})
    }
  },
  name: 'ApplicationConfiguration',
  computed: mapState('applications', {
    application: function (state) {
      if (this.bundle) {
        return _.find(state.downloaded_applications,
          a => a.bundle === this.bundle
        )
      }
      return {}
    }
  }),
  watch: {
    bundle: function () {
      console.log('loading bundle ', this.bundle)
      this.loadAppConfiguration(this.bundle)
    },
    application: function (application) {
      if (application.configuration) {
        application.configuration.forEach((c) => {
          let containerName = c.container
          c.parameters.forEach((p) => {
            this.configs[containerName + '.' + p.name] = p.value
          })
        })
      }
    }
  },
  mounted: function () {
    this.bundle = this.$route.params.bundle
  }
}
</script>
