<template>
  <q-page class="flex">
    <div class="doc-container minheight-rows with-bg">
      <div class="row title-row items-center">
        <i class="fas fa-th-large"></i>
        <div class="page-title">{{ $t('about.us') }}</div>
      </div>
      <div class="rTable">
        <div class="rTableRow align-center">
            <div class="rTableCell"><img src="../../assets/identity.png"><p class="cap">{{ $t('about.our_identity') }}</p></div>
            <div class="rTableCell"><img src="../../assets/offlineconsortium.png"><p>{{ $t('about.what') }}</p></div>
        </div>
        <div class="rTableRow align-center">
            <div class="rTableCell"><img src="../../assets/statement.png"><p class="cap">{{ $t('about.our_statement') }}</p></div>
            <div class="rTableCell"><p>{{ $t('about.tempe_declaration') }}</p>
                <a href="../../assets/tempe_declaration.pdf" target="_blank">>{{ $t('about.read_declaration') }}</a></div>
        </div>
        <div class="rTableRow align-center">
            <div class="rTableCell"><img src="../../assets/committee.png"><p class="cap">{{ $t('about.our_committee') }}</p></div>
            <div class="rTableCell"><img src="../../assets/asu.png">&nbsp;&nbsp;&nbsp;  <img src="../../assets/bsf.png">&nbsp;&nbsp;&nbsp; <img src="../../assets/ifla.png">
                <p>eGranary Digital Library | Gigabit Libraries Network | INASP | INEE | Internet-in-a-Box | Kiwix | Learning Equality | LibraryBox | MAKAIA Foundation | Rumie Initiative | Sarawak State Library | SolarSPELL (ASU) | Sunna Design/Moon Project | TEEAL | WiderNet@UNC</p></div>
            </div>
        <div class="rTableRow align-center">
            <div class="rTableCell"><img src="../../assets/supporters.png"><p class="cap">{{ $t('about.our_supporters') }}</p></div>
            <div class="rTableCell"><p>{{ $t('about.shareit') }}</p><img src="../../assets/share_it.png">
            <p>{{ $t('about.with_support') }}</p><img src="../../assets/ashoka.png">&nbsp;&nbsp;&nbsp; <img src="../../assets/stationF.png">&nbsp;&nbsp;&nbsp; <img src="../../assets/intech.png"></div>
        </div>
        </div>
    </div>
  </q-page>
</template>
